/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: ghostwhite; 
    
    color: black;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    position: relative;
    text-align: justify;
    z-index: 8;
}


header {
    text-align: center;
}
#hero>img {
  margin-top: 10px;
  z-index: 1;
  width: 100%;
}

footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */


.links{
    margin-right: 40px;
    width: 250px;
}


.onderin{
    margin-right: 40px;
    width: 250px;
}


.rechts{
    margin-right: 40px;
    width: 45%;
}

  

.smalltext {
    font-size: 0.7em;
}

a {
    color: blueviolet;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.theader {
  background-color: skyblue;
}
.tlabel {
  text-align: center;
  font-weight:  bold;
}

/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color: skyblue;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px; 
  /* Geeft cellpadding aan */
}
tr:nth-child(odd) {
    background-color: #dfe7f2;
    color: #000000;
}

.txt-bold{
  font-weight: bold;
}


